<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h2>Table With Rows</h2>
    <ngx-carpenter
            baseHref="/"
            [headings]="headings"
            [rows]="rows"
            [actions]="actions"
    ></ngx-carpenter>

    <h2>Empty Table With Rows</h2>
    <ngx-carpenter
            baseHref="/"
            [headings]="headings"
            [rows]="emptyRows"
            [actions]="actions"
    ></ngx-carpenter>

    <h2>Table With Paginator</h2>
    <ngx-carpenter
            baseHref="/"
            [headings]="headings"
            [paginator]="paginator"
            [actions]="actions"
    ></ngx-carpenter>

    <h2>Empty Table With Paginator</h2>
    <ngx-carpenter
            baseHref="/"
            [headings]="headings"
            [paginator]="emptyPaginator"
            [actions]="actions"
    ></ngx-carpenter>

    <h2>Presenters</h2>
    <ngx-carpenter
            baseHref="/"
            [headings]="headingsWithPresenters"
            [rows]="rows"
            [actions]="actions"
    ></ngx-carpenter>
</div>
</body>
</html>


